.playerContainer {
	position: relative;
	width: 280px;
	height: 180px;
	background: #000;
}

.playerContainer:after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 60px;
	width: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
	content: '';
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.playerContainer video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	z-index: 1;
}

.progress {
	position: relative;
	align-self: center;
	width: 200px;
	height: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: var(--small-radius);
	cursor: pointer;
}

.progress > div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: var(--clr-primary);
	z-index: 1;
	border-radius: var(--small-radius);
}
