.sendButton {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 34px;
	width: 34px;

	background-color: var(--clr-primary);
	border: none;
	border-radius: 50%;
	outline: 0;
	cursor: pointer;
	transition: background-color 250ms;
}

.sendButton:hover {
	background-color: var(--clr-primary-dark);
}

.sendButton svg {
	fill: #fff;
}
