.container {
	position: fixed;
	bottom: 16px;
	left: 0;
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0rem 1rem;
}

.input {
	width: 100%;
}

.send {
	margin-left: 4px;
}
