.lightboxContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: var(--modal-layer);
}

.lightbox {
	width: 95%;
}

.lightbox picture {
	display: flex;
	justify-content: center;
}

.lightbox img {
	width: 100%;
	height: auto;
}

.lightboxClose {
	position: absolute;
	top: 16px;
	left: 16px;
}

@media (min-width: 720px) {
	.lightbox {
		max-width: 720px;
	}
}
