.loadingCenter {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.error {
	color: #fff;
	text-align: center;
	padding: 8rem 0;
}

.camera video,
.camera img {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: contain;
	user-select: none;
	pointer-events: none;
}

.actions {
	position: absolute;
	bottom: 24px;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	width: 100%;
	z-index: 1;
}
