.messagesGroup {
	display: grid;
	grid-template-areas: "avatar messages" "timestamp timestamp";
	grid-template-columns: auto 1fr;
}

.messagesGroup > div:first-child {
	grid-area: messages;
}

.messagesGroupInfo {
	grid-area: timestamp;
	font-size: var(--body-font-size);
	padding: 0 2rem;
}

.messagesGroupInfo span:first-child {
	margin-right: 8px;
}

.messagesGroupInfo span:last-child {
	color: var(--color-label);
}

.messagesGroup > img {
	grid-area: avatar;
	margin-right: 8px;
	align-self: flex-end;
}

.messages {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.messages > div {
	max-width: calc(90% - (24px + 8px));
}

.date {
	position: relative;
	text-align: center;
	line-height: 1;
	font-size: var(--body-font-size);
	margin: 1rem 0;
}

/*
.date:before,
.date:after {
	position: absolute;
	top: calc(var(--body-font-size) / 2);

	display: block;
	width: 40%;
	height: 1px;

	content: '';
	background-color: var(--color-line);
}

.date:before {
	left: 0;
}

.date:after {
	right: 0;
}
*/
