.textMessage {
	display: inline-block;

	padding: 8px 12px;

	font-size: var(--body-font-size);
	color: var(--color-body);

	background-color: var(--color-plain-background);
	box-shadow: var(--shadow-soft);
	border-radius: 16px;
}

.sendMessage {
	color: var(--color-primary);
	background-color: var(--color-primary-light);
	border-radius: 16px;
}
