.message {
	margin-bottom: 4px;
	max-width: 90%;
}

.message > div {
	border-radius: 16px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.message:last-child > div {
	border-radius: 16px;
	border-top-left-radius: 0px;
}


.message:first-child > div {
	border-radius: 16px;
	border-bottom-left-radius: 0;
}

.sendByUser {
	margin-left: auto;
}

.sendByUser > div {
	border-radius: 16px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sendByUser:last-child > div {
	border-radius: 16px;
	border-top-right-radius: 0px;
}

.sendByUser:first-child > div {
	border-radius: 16px;
	border-bottom-right-radius: 0;
}
