.messagesGroupInfo {
	grid-area: timestamp;
	font-size: var(--body-font-size);
	padding: 0 2rem;
}

.messagesGroupInfo span:first-child {
	margin-right: 8px;
}

.messagesGroupInfo span:last-child {
	color: var(--color-label);
}
