:root {
	/** Colors */
	--clr-primary: #5f2eea;
	--clr-primary-light: #ded3ff;
	--clr-primary-dark: #2a00a2;

	--clr-title-active: #14142b;
	--clr-body: #4e4b66;
	--clr-label: #6e7191;
	--clr-placeholder: #a0a3bd;
	--clr-line: #d6d8e7;
	--clr-input-bg: #eff0f6;
	--clr-bg: #f7f7fc;
	--clr-off-white: #fcfcfc;

	--clr-plain-bg: #fff;

	/** Font sizes */
	--fs-md: 0.875rem;
	--fs-lg: 1rem;
	--fs-xl: 1.125rem;
	--fs-xxl: 1.3125rem;

	/** Font families */
	--ff-base: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell,
		Helvetica Neue;

	/** General */
	--soft-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.04);
	--large-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.04);

	--small-radius: 8px;
	--normal-radius: 16px;
	--large-radius: 32px;

	--header-layer: 5;
	--content-layer: 1;
	--bb-layer: 5;
	--modal-layer: 10;
}
